$width: 500px;

.frame {
  padding: 10px;
  display: flex;
}

.infos {
  padding: 10px;
  padding-top: 0px;
  border: 1px solid gray;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 6px;
  height: 100%;

  .info_text {
    color: gray;
  }

  .vars {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid lightgray;
    width: 100%;
  }
}

.card {
  background-color: #f2f2f2;
  border-radius: 6px;
  margin: 10px 0;
  padding: 10px;
  width: $width;
  min-height: 100px;
  overflow: auto;
  box-shadow: 2px 2px 4px gray;

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      display: flex;

      input {
        border: none;
        font-size: 1.2em;
        font-weight: bold;
        padding-left: 2px;
        width: 100%;
        background-color: #f2f2f2;
        overflow-x: auto;

        &:focus {
          outline: none;
          background-color: white;
        }
      }
    }

    .delete_button {
      background-color: #f2f2f2;
      border: none;
      color: red;
      cursor: pointer;
      font-size: 2em;
      padding: 0;
    }
  }

  .flex_textarea {
    position: relative;
    margin-top: 10px;

    .dummy {
      overflow: hidden;
      visibility: hidden;
      box-sizing: border-box;
      padding: 5px 15px;
      min-height: 50px;
      white-space: pre-wrap;
      word-wrap: break-word;
      border: 1px solid;
    }
    textarea {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      padding: 5px 10px;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: 1px solid #b6c3c6;
      border-radius: 4px;
      color: inherit;
      font: inherit;
      letter-spacing: inherit;
      resize: none;
    }
  }

  .sample {
    white-space: pre-wrap;
    margin-top: 10px;
  }
}

.add_button {
  background-color: gray;
  color: white;
  border-radius: 6px;
  width: calc($width + 20px);
  height: 40px;
  line-height: 40px;
  box-shadow: 2px 2px 4px gray;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
  font-weight: bold;
}
