.frame {
  padding: 10px;
}

.card {
  background-color: #f2f2f2;
  border-radius: 6px;
  margin: 5px;
  padding: 10px;
  width: 500px;
  min-height: 100px;
  overflow: auto;

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      display: flex;

      input {
        border: none;
        font-size: 1.2em;
        font-weight: bold;
        padding-left: 2px;
        width: 100%;
        background-color: #f2f2f2;
        overflow-x: auto;

        &:focus {
          outline: none;
          background-color: white;
        }
      }
    }

    .delete_button {
      background-color: #f2f2f2;
      border: none;
      color: red;
      cursor: pointer;
      font-size: 1.2em;
      padding: 0;
      margin-left: 5px;
    }
  }

  .flex_textarea {
    position: relative;
    margin-top: 10px;

    .dummy {
      overflow: hidden;
      visibility: hidden;
      box-sizing: border-box;
      padding: 5px 15px;
      min-height: 50px;
      white-space: pre-wrap;
      word-wrap: break-word;
      border: 1px solid;
    }
    textarea {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      padding: 5px 10px;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: 1px solid #b6c3c6;
      border-radius: 4px;
      color: inherit;
      font: inherit;
      letter-spacing: inherit;
      resize: none;
    }
  }

  .sample {
    white-space: pre-wrap;
    margin-top: 10px;
  }
}
